<div class="container">
    <div class="row row-content" ng-controller="DishDetailController">

        <!--------------------->
        <!-- dish details -->
        <!--------------------->
        <div class="col-xs-12">
            <div class="col-xs-12">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
            <div class="media">

            <div class="media-left media-middle">
                <a href="#">
                    <img class="media-object img-thumbnail" 
                         ng-src={{dish.image}} alt={{dish.name}}>
                </a>
            </div>

            <div class="media-body">
                <h2 class="media-heading">{{dish.name}}
                <span class="label label-danger">{{dish.label}}</span>   
                <span class="badge">{{dish.price | currency}}</span></h2>
                <p>{{dish.description}}</p>
            </div>

        </div>

        <!--------------------->
        <!-- dish comments -->
        <!--------------------->
        <div class="col-xs-9 col-xs-offset-1">

            <form name="sortForm">                
                <h4>Customer Comments &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <small>
                        Sort by: &nbsp;
                        <input type="text" name="sortByInput" ng-model="dish.orderByField">
                    </small>
                </h4>
            </form>

            <ul class="list-unstyled">
                <li ng-repeat="commnt in dish.comments | orderBy:dish.orderByField">
                    <blockquote>
                        <p>{{commnt.rating}} Stars</p>
                        <p>{{commnt.comment}}</p>
                        <footer>{{commnt.author}}, {{commnt.date | date}}</footer>
                    </blockquote>
                </li>
            </ul>

        </div>

        <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
            <!-- Task 3: Here you include the code to show the live preview of the comment
                     The comment should be shown only when the form contains valid 
                     information and is not pristine -->

            <!---------------------------------->
            <!-- Live preview of new comment -->
            <!---------------------------------->
            <ul class="list-unstyled">
                <span ng-show="!commentForm.$invalid && !commentForm.custName.$pristine" >
                    <li>
                        <blockquote>
                            <p>{{newComment.rating}} Stars</p>
                            <p>{{newComment.comment}}</p>
                            <footer>{{newComment.author}}, {{newComment.date | date}} </footer>
                        </blockquote>
                    </li>   
                </span>
            </ul>

            <!---------------------------------->
            <!-- Comments Form -->
            <!---------------------------------->
            <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                <!-- Task 1: Design the form to submit the comments
                     Task 2: You need to validate that the user name and comments are entered -->

                <!-- Customer Name -->
                <div class="form-group" ng-class="{ 'has-error' : commentForm.custName.$error.required && !commentForm.custName.$pristine }">
                    <label for="custName" class="col-sm-2 control-label">Your Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="custName" name="custName" placeholder="Enter Your Name" ng-model="newComment.author" required>
                        <span ng-show="commentForm.custName.$error.required && !commentForm.custName.$pristine" class="help-block">Your Name is required.</span>
                    </div>
                </div>

                <!-- Star ratings -->
                <div class="form-group">
                    <label for="numOfStars" class="col-sm-2 control-label">Number of Stars</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="starsRadio" ng-model="newComment.rating" value=1> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="starsRadio" ng-model="newComment.rating" value=2> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="starsRadio" ng-model="newComment.rating" value=3> 3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="starsRadio" ng-model="newComment.rating" value=4> 4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="starsRadio" ng-model="newComment.rating" value=5> 5
                        </label>
                    </div>
                </div>

                <!-- Comments Text area -->
                <div class="form-group" ng-class="{ 'has-error' : commentForm.commntText.$error.required && !commentForm.commntText.$pristine }">
                    <label for="commntText" class="col-sm-2 control-label">Your Comments</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="commntText" name="commntText" rows="10"
                                  ng-model="newComment.comment" required></textarea>
                        <span ng-show="commentForm.commntText.$error.required && !commentForm.commntText.$pristine" class="help-block">Comment is required.</span>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>